
<!--




EJS = Embedded JavaScript templating.
EJS is a simple templating language 
that lets you generate HTML markup with plain JavaScript.

https://ejs.co/




-->


<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/yunusemrejr/CRUD-with-NodeJS-ExpressJS-MongoDB/main/favicon.ico" />
    <title>User Management System of Y.E.V.</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
 </head>
<body>
    <br>    <br>
    <br>
    <br>

    
    <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">&nbsp;&nbsp;<i style="color:white;" class="fa fa-address-card" aria-hidden="true"></i>
                            &nbsp;&nbsp; User Management System&nbsp;&nbsp;</a>
                    </div>
                </div>
            </nav>
        </header>
    <!-- /Header -->